body {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url('https://source.unsplash.com/1600x900/?weather,car,nature,earth,moon');
}

* {
    font-family: 'Merriweather', serif;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    flex-wrap: wrap;
    z-index: 1;
    margin: 1em;
    color: black;
    border-color: white;
}

.card .max-width {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.min {
    align-items: center;
    justify-content: space-around;
}

.search {
    display: flex;
}

.bd {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 30%;
    border: none;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    color: white;
    margin-left: 3px;
    padding: 0.2em 0.5em;
}

button:hover {
    background: rgba(255, 255, 255, 1);
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.bd input.search-bar {
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255, 0.0);
    width: cal(100%-50px);
    padding: 0.5em 1em;
}

.bd input.search-bar:hover {
    background: #fff;
}

h1 .temp {
    margin: 0;
    margin-bottom: 1em;
}

.flex .description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex {
    display: flex;
    align-items: center;
}